body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(
        to top,
        hsl(240, 73%, 65%),
        hsl(273, 75%, 66%)

    );
}

main {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
.content-wrapper {
    margin: 100px 100px;
    display: flex;
    justify-content:end;
    align-items: center;
    background-image: url('./images/bg-pattern-desktop.svg'),
    url('./images/illustration-woman-online-desktop.svg');
    background-size: 100%,50%;
    border-radius: 26px;
    background-repeat: no-repeat;
    padding-right: 200px;
    overflow: visible;
    background-color: #fff;
    background-position: left -34.375rem top 60%,left -6.25rem center;
    
}

.content-desc {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question.open {
    font-weight: bold;
}
.question.open::after {
    transform: rotate(180deg);
}
.question {
    display: flex;
    width: 100%;
    margin: 26px 0 26px 0;
    background-color: #fff;
    border: #fff;
    border-bottom: #e7e7e9 1px solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 231, 233);
    justify-content: space-between;
}
.question::after {
    content: '';
    display: block;
    margin: 26px 0 26px 0;
    background-color: #fff;
    border: #fff;
    border-bottom: #e7e7e9 1px solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 231, 233);
    justify-content: space-between;
    transition: transform 300ms ease-in-out;
}
.question {
    display: flex;
    width: 100%;
    margin: 26px 0 26px 0;
    background-color: #fff;
    border: #fff;
    border-bottom: #e7e7e9 1px solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 231, 233);
    justify-content: space-between;
}
button img {
    padding-left: 50px;
}
.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-illustration {
    position: relative;
    left: -700px;
    top:-7.5rem
}

